---
---

@import "{{ site.theme }}";
.wrapper {
 max-width:1200px;
 margin:0 auto;
 position:relative;
 padding:0 20px
}

section {
 max-width:1200px;
 padding:30px 0px 50px 0px;
 margin:20px 0;
 margin-top:70px
}

#header nav {
 max-width:1200px;
 margin:0 auto;
 padding:0 10px;
 
 margin:6px auto
}

#header nav li.downloads {
 float:left;
 margin-left:6px
}

img[src*='#center'] { 
    display: block;
    margin: auto;
    width:550px;
    length:550px;
}